<%- include('head') %>
<link rel="stylesheet" href="/styles/about.css" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
/>

<title>About</title>
<%- include('navbar') %>

<!-- section-cover -->
<main>
  <section class="section-cover container-xxl">
    <div class="row d-flex padding-section">
      <div class="col-12 text-center d-flex flex-column justify-content-center">
        <img src="/images/assets/empresa.jpg" alt="" />
        <h1>«Somos la startup malagueña que quiere que comas bien»</h1>
        <p> Fundada en 2022 por los hermanos Chelu Herrera  y Álvaro Herrera, este buscador de restaurantes pretende convertirse en la mejor opción para
          saber dónde comer en Málaga. Fruto de sus conocimientos sobre el sector y con la experiencia de haber emprendido antes, estos dos hermanos se lanzaron a crear una solución todo en uno para los foodies malagueños y visitantes.</p>
   
    </div>
  </section>


<%- include('footer') %>
